@using PagedList.Mvc
@model  JoBoard.Models.IndexViewModel




<section class="site-section" id="next">
    <div class="container">

        <div class="row mb-5 justify-content-center">
            <div class="col-md-7 text-center">
                <h2 class="section-title mb-2">@ViewBag.Count Related Jobs</h2>
            </div>
        </div>

        <ul class="job-listings mb-5">
            @foreach (var item in Model.Jobs)
            {

                <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
                    <a href="@Url.Action("Index", "JobDetail", new { id = item.Id })"></a>
                    <div class="job-listing-logo">
                        <img src="~/Uploads/Jobs/@item.Company_Logo" alt="Image" class="img-fluid">
                    </div>

                    <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
                        <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
                            <h2>@item.Job_Title</h2>
                            <strong>@item.Company_Name</strong>
                        </div>
                        <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
                            <span class="icon-room"></span> @item.state.StateName
                        </div>
                        <div class="job-listing-meta">
                            <span class="badge badge-danger">@item.Job_Type</span>
                        </div>
                    </div>
                </li>
            }

            </ul>
        <div class="row pagination-wrap">
            <div class="col-md-6 text-center text-md-left mb-4 mb-md-0">
                Page @(Model.Jobs.PageCount < Model.Jobs.PageNumber ? 0 : Model.Jobs.PageNumber) of @Model.Jobs.PageCount
            </div>
            @Html.PagedListPager(Model.Jobs, page => Url.Action("Index", new { page, pageSize = Model.Jobs.PageSize }),
             new PagedListRenderOptions()
             {
                 ContainerDivClasses = new[] { "col-md-6 text-center text-md-right" },
                UlElementClasses = new List<string> { "custom-pagination " }
             })
        </div>

    </div>
</section>
